<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


{% include '../views/navBar.twig' %}

<div class="container">
    <table class="table">
        <tbody>
        {% if res.books.length == 0 %}
            <div class="d-flex justify-content-center">
                <div class="d-flex">
                    <h1>Your Cart Is Empty</h1>
                </div>
            </div>
        {% endif %}
        {% for book in res.books %}
            <tr>
                <td>{{ book.Book_name }}</td>
                <td>{{ "%s %s" | format(book.authors[0].First_name, book.authors[0].Surname) }}</td>
                <td>{{ book.Price }}</td>
                <td>
                    <input type="number" id="replyNumber" min="1" max="{{ book.Number_of_copies }}" value="1"
                           data-bind="value:replyNumber"/>
                </td>
                <td>
                    <a href="/deleteFromOrder/{{ book.Id }}">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                </td>
            </tr>
            {% set counter = counter + book.Price %}
        {% endfor %}
        </tbody>
    </table>
    {% if res.books.length != 0 %}
        <div class="d-flex flex-row-reverse">
            <div class="p-2">Total: {{ res.total }}</div>
        </div>
        <div class="d-flex flex-row-reverse">
            <a href="\order">
                <button type="button" class="btn btn-info">Make an Order</button>
            </a>
        </div>
    {% endif %}

</div>

</body>
</html>