<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info text-white container-fluid mb-5">
    <div class="container-fluid flex-row">
        <div class="container">
            <div class="row row-cols-auto">
                <a class="navbar-brand col text-light" href="/home">Home</a>
                <a class="navbar-brand col text-light" href="/genres">Genres</a>
                <!--<a class="navbar-brand col text-light" htref="/stats">Statistics</a>-->
                <a class="navbar-brand col text-light" href="/cart">Cart</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light ml-4" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">

        {% for book in books %}
            <div class="col-sm mb-5">

                <div class="card mx-5 h-100 bg-info px-3 pt-3 text-light" style="width: 18rem;">
                    <a href="{{ "/book/ %s" | format(book.Id) }}">
                        {% set id = book.Book_id %}
                        <img src="{{ book.Image_url }}"
                             alt="Second slide" class="w-100">
                        <div class="card-body">
                            <h5 class="card-title text-light">{{ book.Book_name }}</h5>
                            <a href="{{ "/author/ %s" | format(book.Author_id) }}">
                                <h5 class="card-title ">{{ book.author_name }}</h5>
                            </a>
                            <p class="card-text">{{ book.Price }}</p>
                            <p class="card-text"> {{ book.Description|length > 50 ? book.Description|slice(0, 50) ~ '...' : book.Description }}</p>
                            {% if book.Number_of_copies > 0 %}
                                <a href="{{ "/addToCart/ %s" | format(book.Id) }}">
                                    <button class="btn btn-light text-info">Add To Cart</button>
                                </a>
                            {% endif %}
                            {% if book.Number_of_copies == 0 %}
                                <button class="btn btn-light text-info disabled">Out of Stock</button>
                            {% endif %}
                        </div>
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
</div>


</body>
</html>