<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }
        .errLabel {
            display: none;
            color: orangered;
            margin-top: 10px;
        }
        .tab {
            display: none;
        }
        .step.active {
            opacity: 1;
        }
        .step.finish {
            background-color: #04AA6D;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #17a2b8;">

<div style="margin-top: 50px; margin-bottom: 50px; max-width: 600px; height: auto; min-height: 100% !important; border: 1px solid #9C9C9C; background-color: #EAEAEA;" class = "container">

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-11">
            <form class="form" id="regForm" action="/registration" method="post">
                <h3 style="margin-top: 20px;" class="text-center text-info">Sign Up</h3>
                <div class="tab">
                    <div class="form-group">
                        <label for="first_name" class="text-info">First name</label>
                        <br>
                        <input type="text" id="first_name_field" name="first_name" class="form-control" placeholder="Enter your name (optional)"
                                {% if userExists %} value="{{ userDTO.first_name }}" {% endif %}/>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="text-info">Surname</label>
                        <br>
                        <input type="text" id="surname_field" name="surname" class="form-control" placeholder="Enter your surname (optional)"
                                {% if userExists %} value="{{ userDTO.surname }}" {% endif %}/>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="text-info">Last name</label>
                        <br>
                        <input type="text" id="last_name_field" name="last_name" class="form-control" placeholder="Enter your last name (optional)"
                                {% if userExists %} value="{{ userDTO.last_name }}" {% endif %}/>
                    </div>
                </div>

                <div class="tab">
                    <div class="form-group">
                        <label for="email" class="text-info">Email *</label>
                        <br>
                        <input type="text" id="email_field" name="email" class="form-control" placeholder="Enter your Email"
                                {% if userExists %} value="{{ userDTO.email }}" {% endif %}/>
                        <br>
                        <p id="emailErr" class="errLabel">Wrong Email format</p>
                    </div>

                    <div class="form-group">
                        <label for="birth_date" class="text-info">Birth date *</label>
                        <br>
                        <input type="date" id="datePicker" name="birth_date" class="form-control" min="1900-01-01" max="2000-01-01" value="1999-01-01"
                                {% if userExists %} value="{{ userDTO.birth_date }}" {% endif %}/>
                    </div>
                </div>

                <div class="tab">
                    <div class="form-group">
                        <label for="username" class="text-info">Login *</label>
                        <br>
                        <input type="text" name="username" class="form-control" placeholder="Enter your Login"/>
                        <br>
                        <p id="usernameErr" class="errLabel">Username cannot be blank and must contain only digits and latin letters </p>
                    </div>
                    <div class="form-group">
                       <label for="password" class="text-info">Password *</label>
                        <br>
                        <input type="password" id="password_field" name="password" class="form-control" placeholder="Enter your password"
                                {% if userExists %} value="{{ userDTO.password }}" {% endif %}/>
                        <br>
                        <p id="passErr" class="errLabel">Fill the field</p>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="text-info">Confirm password *</label>
                        <br>
                        <input type="password" id="confirm_field" name="confirm" class="form-control" placeholder="Confirm your password"
                                {% if userExists %} value="{{ userDTO.password }}" {% endif %}/>
                        <br>
                        <p id="confirmErr" class="errLabel">Password doesn't match</p>
                    </div>
                    <div class="form-group">
                        {% if userExists %}
                        <div class="form-group">
                            <p style="color: orangered; margin-top: 20px;">This login has been taken</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

				<div class="form-group" style="width:100%">
					<button type="button" id="backBtn" formaction="/login" formmethod="get" class="btn btn-info btn-md" style="margin-top: 10px;">Back</button>
                    <button type="button" id="prevBtn" class="btn btn-info btn-md" style="display: none; margin-top: 10px;" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" class="btn btn-info btn-md" style="margin-top: 10px; float: right;" onclick="nextPrev(1)">Next</button>
				</div>

                <div class="form-group" style="text-align:center;margin-top:5px; margin-bottom: 30px">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>

			</form>

		</div>
	</div>
</div>
<script>
    let currentTab = 0;
    loginTakenErr();
    showTab(currentTab);
    setMaxDate();

    function loginTakenErr() {
        if({{ userExists }}) {
            currentTab = 2;
            document.getElementsByClassName("step")[0].className += " finish";
            document.getElementsByClassName("step")[1].className += " finish";
        }
    }

    function setMaxDate() {
        let today = new Date();
        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        let yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datePicker").setAttribute("max", today);
    }

    function showTab(n) {
        let x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        if(n == 0) {
            document.getElementById("backBtn").style.display = "initial";
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("backBtn").style.display = "none";
            document.getElementById("prevBtn").style.display = "initial";
        }
        if(n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        showStepIndicator(n);
    }

    function nextPrev(n) {
        let x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm())
            return false;
        x[currentTab].style.display = "none";
        currentTab += n;
        if (currentTab >= x.length) {
            document.getElementById("regForm").submit();
            return false;
        }
        showTab(currentTab);
    }

    function validateForm() {
        let x, valid = true;
        x = document.getElementById("regForm");
        let i, arr = document.getElementsByClassName("errLabel");
        for(i = 0; i < arr.length; i++)
            arr[i].style.display = "none";
        switch(currentTab){
            case 1:
                if(!validateEmail(x.email.value)) {
                    document.getElementById("emailErr").style.display = "initial";
                    valid = false;
                }
                break;
            case 2:
                if(!validateLogin(x.username.value)) {
                    document.getElementById("usernameErr").style.display = "initial";
                    valid = false;
                }
                let pass = x.password.value;
                if(pass.length < 5) {
                    document.getElementById("passErr").innerText = "Password must be at least 5 characters long";
                    document.getElementById("passErr").style.display = "initial";
                    valid = false;
                } else if(pass.length > 50) {
                    document.getElementById("passErr").innerText = "Password cannot be longer than 50 characters";
                    document.getElementById("passErr").style.display = "initial";
                    valid = false;
                }
                if(pass.localeCompare(x.confirm.value) != 0) {
                    document.getElementById("confirmErr").style.display = "initial";
                    valid = false;
                }
        }
        if(valid)
            document.getElementsByClassName("step")[currentTab].className += " finish";
        return valid;
    }

    function validateLogin(login) {
        return login.length < 50 && /^[a-zA-Z0-9]+$/.test(login);
    }

    function validateEmail (email) {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    }

    function showStepIndicator(n) {
        let i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        x[n].className += " active";
    }
</script>
</body>
</html>